* {
    box-sizing: border-box;
}

/* 
*rem* orientiert sich an der festgelegten Größe des root-Elements.
16px der default Wert
1.2 * 16 = 19.2px 
*/

section {
    font-size: 1.5rem;
    border: 2px
            solid
            black;
}

/* 
*em* orientiert sich an seinem Elternelement.
*padding-inline-start* addiert ein padding am Anfang von Text, abhängig von Textaurichtung, direction und writing-mode
*/

ul {
    padding-inline-start: 1.2em;
}

li {
    line-height: 1.5em;
}

.firstLevel {
    font-size: 0.8em;
    list-style-type: none;
}

.secondLevel {
    font-size: 0.8em;
    list-style-type: none;
}

.thirdLevel {
    font-size: 0.8em;
}

.listStyleTypeDog {
    list-style-type: "🐕";
}
.listStyleTypeCat {
    list-style-type: "🐈";
}
.listStyleTypeParrot {
    list-style-type: "🦜";
}
.listStyleTypeSnake {
    list-style-type: "🐍";
}
.listStyleTypeLizard {
    list-style-type: "🦎";
}